
.navbar {
    background: lightpink;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.east-side {
    margin: 20px;
}

.west-side {
    margin: 20px;
    color: cornflowerblue
}

.username-email {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.username-email li{
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
}

.username-email li:hover{
    color: cornflowerblue
    
}