#add-tag-button {
    background: url('./plus-button.png') no-repeat;
    height: 100px;
    width: 100px;
    background-size: contain;
    position: absolute;
    margin-top: calc(6% + 50px);
    left: 4%;
    z-index: 5;
    transition: all .75s ease-in-out;
    top: 0;
}

.open {
    height: 75%;
}

.open li {
    transition: all .35s;
    opacity: 1;
    border-bottom: 2px solid cornflowerblue;
}
 .open li:last-of-type {
     border: none
 }

.closed {
    height: 0px;
}

.closed li {
    opacity: 0;
    border-bottom: 2px solid cornflowerblue;
    
}

#create-tag-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    background: lightpink;
    border-radius: 0px 0px 50px 50px;
    transition: all .75s ease-in-out;
    width: 100px;
    margin-top: calc(6% + 100px);
    position: absolute;
    left: 4%;
    top: 0;
}



#add-tag-button:hover {
   cursor: pointer;
 }

#create-tag-list li button{
    width: 100px;  
    border: none;   
    background: none;
    color: black;
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    
}

#create-tag-list li button:hover {
    background: cornflowerblue;
    transition: all .25s ease-in-out;
    
}

#create-tag-list li button:focus {
    outline:none;
    
}

#file-upload-wrapper{
    width: 100px;  
    border: none;   
    background: none;
    color: black;
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    
}

#file-upload-wrapper:hover {
    background: cornflowerblue;
    transition: all .25s ease-in-out;
    
}

#file-upload-wrapper:focus {
    outline:none;
    
}

#file-upload {
    position: absolute;
    height: 62px;   
    width: 100px;
    left: 0;
    opacity: 0;
}

#create-tag-list li:first-of-type {
    margin-top: 69px;
}

.turned{
    transform: rotate(45deg)
}

#edit-tag-form {
    background: cornflowerblue;
    width: calc(8% + 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 50;
    margin-top: calc(6% + 50px);
    top: 0;
    height: calc(83% + 5px);
    animation: .5s ease-out 0s 1 slideInFromRight;
}
#edit-tag-h1 {
    width: 200px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background: lightpink;
    font-size: 30px;
}

#edit-tag-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
.edit-tag-input{
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    flex-wrap: wrap;
}

.edit-tag-input p{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    margin: 5px 5px 5px 15px;
}

.edit-tag-input p:hover {
    text-shadow: none;
}

#edit-form-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
}

.edit-closed{
    display:none;
}

.edit-open {
    display: auto;
}

#color-picker {
    transition: all .5s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}


#color-picker:hover {
    background: rgba(239, 247, 255, 1)

}

.circle-picker {
    justify-content: center;
    width: 252px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -14px;
    margin-bottom: -14px;
}



#text-align-dropdown select{
    position: relative;
    width: 40%;
    font-family: cursive;
    background: lightpink;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

#font-dropdown {
    font-family: cursive;
    background: lightpink;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

#tag-textarea {
    background: lightpink;
    height: 100px;
    border: none;
    border-radius: 6px;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    width: 80%;
}

#delete-button {
    font-size: 18px;
    background: lightpink;
    border: none;
    border-radius: 4px;
    padding: 7px;
}

#delete-button:hover {
    background: rgb(192, 124, 134);
    transition: all .5s ease-in-out;
}



@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
