#hello-there {
    margin-right: 4%;
    margin-top:  calc(6% + 50px);;
    height: 80%;
    background: aliceblue;
    margin-left: calc(8% + 100px);
    overflow: scroll;
    margin-bottom: 1%;
    z-index: 51;
}

#hello-there p:hover {
   text-shadow: 2px 2px lightgray;
}

#hello-there dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}